examples/backgroundsubtract.txt
[{"id":"adf53909.f65268","type":"ocv-videoin","z":"b7d72580.9a0ea8","name":"","FPS":25,"video":"1","x":300,"y":140,"wires":[["715fc118.9519a"]]},{"id":"dae8478f.9f1ac8","type":"inject","z":"b7d72580.9a0ea8","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":90,"y":140,"wires":[["adf53909.f65268"]]},{"id":"138a17a6.bc8de8","type":"inject","z":"b7d72580.9a0ea8","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":90,"y":200,"wires":[["adf53909.f65268"]]},{"id":"715fc118.9519a","type":"ocv-resize","z":"b7d72580.9a0ea8","name":"","toprocess":"","width":640,"height":480,"releaseinput":false,"releaseall":true,"x":450,"y":140,"wires":[["b46d0885.a25cb8"]]},{"id":"63566312.fd4d9c","type":"ocv-global","z":"b7d72580.9a0ea8","name":"","x":240,"y":60,"wires":[]},{"id":"28e12c9f.5b66f4","type":"function","z":"b7d72580.9a0ea8","name":"VideoWriter","func":"node.name = 'videowriter';\nnode.toprocess = '';\nnode.releasemat = true;\nnode.releaseall = true;\nnode.writerframes = 200;\n\nnode.trigger = 'videowriter';\n\nif (msg.cmd){\n    switch(msg.cmd){\n        case 'reset':\n            if (context.writer){\n                context.writer.release();\n                delete context.writer;\n                node.warn(\"stopped videowriter by reset\");\n            }\n            break;\n    }\n    return;\n}\n\nvar cv = flow.get('cv');\n\nif (!cv){\n    node.error(\"no CV\");\n    return;\n}\n\nvar toprocess = node.toprocess;\n\nif ((toprocess === '') && (msg.payload.name)){\n    toprocess = msg.payload.name\n}\n\nif (toprocess === ''){\n    node.warn(\"no toprocess\");\n    return;\n}\n\n\nvar f = null;\n\nif (!msg.payload.frame){\n    node.warn(\"no frame\");\n    return;\n}\nif (!msg.payload.frame.data){\n    node.warn(\"no frame data\");\n    return;\n}\n\nif (msg.payload.frame.data[toprocess]){\n    var im = msg.payload.frame.data[toprocess];\n    if (msg.payload[node.trigger]){\n        switch (msg.payload[node.trigger]){\n            case 'start':\n            case 1:\n            case true:\n                // if already running, stop\n                if (context.writer){\n                    context.writer.release();\n                    delete context.writer;\n                }\n                context.writerframe = 0;\n                if (msg.filename){\n                    var filename = msg.filename;\n                    var FPS = 5;\n                    context.writer = new cv.VideoWriter(filename, 'DIVX', FPS, im.size(), true);    \n                    node.warn(\"started viderwriter\");\n                } else {\n                    node.warn(\"no filename\");\n                }\n                break;\n                \n            case 'stop':\n            case 0:\n            case false:\n                // if already running, stop\n                if (context.writer){\n                    context.writer.release();\n                    delete context.writer;\n                    node.warn(\"stopped viderwriter\");\n                }\n                break;\n        }\n    }\n    \n    f = msg.payload.frame;\n    \n    if (context.writer){\n        context.writer.writeSync(im);\n        context.writerframe++;\n        if (context.writerframe >= node.writerframes){\n            context.writer.release();\n            delete context.writer;\n            node.warn(\"stopped videowriter because frames \"+context.writerframe+\">\"+node.writerframes);\n        }\n    }\n\n    if (node.releasemat){\n        msg.payload.frame.data[toprocess].release();\n        delete msg.payload.frame.data[toprocess];\n    } \n}\n\nif (node.releaseall){\n    var f = msg.payload.frame;\n    var keys = Object.keys(f.data);\n    for (var i = keys.length-1; i >= 0; i--){\n        if (f.data[keys[i]].hasOwnProperty('release')){\n            f.data[keys[i]].release();\n        }\n        delete f.data[keys[i]];\n    }\n}\n\nreturn;\n","outputs":1,"noerr":0,"x":210,"y":520,"wires":[[]],"outputLabels":["no output"]},{"id":"6683891a.d9f6c8","type":"function","z":"b7d72580.9a0ea8","name":"order","func":"node.name = 'order';\n\ncontext.frames = context.frames || [];\n\nswitch (msg.cmd){\n    case 'reset':\n        // empty frames, releasing any images\n        for (var i = 0; i < context.frames.length; i++){\n            var f = context.frames[i];\n            if (f.data){\n                var keys = Object.keys(f.data);\n                for (var i = keys.length-1; i >= 0; i--){\n                    if (f.data[keys[i]].hasOwnProperty('release')){\n                        f.data[keys[i]].release();\n                    }\n                    delete f.data[keys[i]];\n                }\n            }\n        }\n        \n        context.frames = [];\n        context.frameout = 0;\n        break;\n}\nif (msg.cmd){\n    return msg;\n}\n\n\n\nvar cv = flow.get('cv');\n\nif (!cv){\n    node.error(\"no CV\");\n    return;\n}\n\n\n\n\nif (!msg.payload.frame){\n    node.warn(\"no frame\");\n    return msg;\n}\n\nif (!msg.payload.frame.data){\n    node.warn(\"no frame data\");\n}\n\n\n// add the new frame in order\nvar frames = [];\nvar pushed = false;\nfor (var i = 0; i < context.frames.length; i++){\n    if (msg.payload.frame.number < context.frames[i].number){\n        frames.push(msg.payload.frame);\n        pushed = true;\n    }\n    frames.push(context.frames[i]);\n}\nif (!pushed){\n    frames.push(msg.payload.frame);\n}\n\ncontext.frames = frames;\n\nnode.warn(context.frames);\n\ncontext.framein = msg.payload.frame.number;\ncontext.frameout = context.frameout || 0;\n\nif (context.frameout === context.frames[0].number){\n    var f = context.frames.shift();\n    var newmsg = {\n        payload:{\n            frame:f\n        }\n    };\n\n    if (msg.payload.name){\n        newmsg.payload.name = msg.payload.name;\n    }\n    \n    context.frameout++;\n\n    node.send(newmsg);\n}\n\n\nreturn;\n","outputs":1,"noerr":0,"x":200,"y":400,"wires":[[]]},{"id":"abaeeb7d.f1fcc8","type":"function","z":"b7d72580.9a0ea8","name":"GetContours","func":"node.name = 'GetContours';\nnode.toprocess = '';\nnode.releasemat = false;\nnode.releaseall = false;\n\nif (msg.cmd){\n    return msg;\n}\n\nvar cv = flow.get('cv');\n\nif (!cv){\n    node.error(\"no CV\");\n    return;\n}\n\n\nvar toprocess = node.toprocess;\n\nif ((toprocess === '') && (msg.payload.name)){\n    toprocess = msg.payload.name\n}\n\nif (toprocess === ''){\n    node.warn(\"no toprocess\");\n    return;\n}\n\n\nvar f = null;\n\nif (!msg.payload.frame){\n    node.warn(\"no frame\");\n    return;\n}\nif (!msg.payload.frame.data){\n    node.warn(\"no frame data\");\n    return;\n}\n\n\n\nif (msg.payload.frame.data[toprocess]){\n    f = msg.payload.frame;\n    var img = msg.payload.frame.data[toprocess];\n    var cnts = img.findContours(cv.RETR_EXTERNAL, cv.CHAIN_APPROX_SIMPLE);\n\n    if (node.releasemat){\n        msg.payload.frame.data[toprocess].release();\n        delete msg.payload.frame[toprocess];\n    }\n\n    if (node.releaseall){\n        var f = msg.payload.frame;\n        var keys = Object.keys(f.data);\n        for (var i = keys.length-1; i >= 0; i--){\n            if (f.data[keys[i]].hasOwnProperty('release')){\n                f.data[keys[i]].release();\n            }\n            delete f.data[keys[i]];\n        }\n    }\n\n    msg.payload.frame.data[node.name] = cnts;\n    node.send(msg);\n} else {\n    node.warn(\"toprocess \"+toprocess+\" not found in frame\");\n    if (node.releaseall){\n        var f = msg.payload.frame;\n        var keys = Object.keys(f.data);\n        for (var i = keys.length-1; i >= 0; i--){\n            if (f.data[keys[i]].hasOwnProperty('release')){\n                f.data[keys[i]].release();\n            }\n            delete f.data[keys[i]];\n        }\n    }\n}\n\nreturn;\n","outputs":"1","noerr":0,"x":210,"y":440,"wires":[[]]},{"id":"39a249bd.8b2ae6","type":"comment","z":"b7d72580.9a0ea8","name":"not tested","info":"","x":200,"y":480,"wires":[]},{"id":"e9f2a68e.ba6d68","type":"ocv-encode","z":"b7d72580.9a0ea8","name":"","toprocess":"","releaseinput":true,"releaseall":true,"x":840,"y":140,"wires":[["a430a501.dad3f8"]]},{"id":"b46d0885.a25cb8","type":"ocv-bg","z":"b7d72580.9a0ea8","name":"","toprocess":"","releaseinput":true,"releaseall":true,"x":620,"y":140,"wires":[["e9f2a68e.ba6d68"]]},{"id":"323aa85a.20f7f8","type":"multipart-encoder","z":"b7d72580.9a0ea8","name":"","statusCode":"","ignoreMessages":true,"outputOneNew":false,"outputIfSingle":false,"outputIfAll":false,"globalHeaders":{"Content-Type":"multipart/x-mixed-replace;boundary=--myboundary","Connection":"keep-alive","Expires":"Fri, 01 Jan 1990 00:00:00 GMT","Cache-Control":"no-cache, no-store, max-age=0, must-revalidate","Pragma":"no-cache"},"partHeaders":{"Content-Type":"image/jpeg"},"destination":"all","highWaterMark":16384,"x":1040,"y":200,"wires":[[]]},{"id":"a430a501.dad3f8","type":"function","z":"b7d72580.9a0ea8","name":"move jpeg","func":"if (msg.payload && msg.payload.frame && msg.payload.frame.data && msg.payload.frame.data.encode){\n    var newmsg = {\n        payload:msg.payload.frame.data.encode\n    }\n    return newmsg;\n}","outputs":1,"noerr":0,"x":830,"y":200,"wires":[["323aa85a.20f7f8"]]},{"id":"6cabb7cd.0cf278","type":"http in","z":"b7d72580.9a0ea8","name":"","url":"/first","method":"get","upload":false,"swaggerDoc":"","x":820,"y":240,"wires":[["323aa85a.20f7f8"]]},{"id":"37b228d7.d03ba8","type":"comment","z":"b7d72580.9a0ea8","name":"to be converted","info":"","x":220,"y":360,"wires":[]}]